/*=================================
=            overrides            =
=================================*/

/* removing gutters in columns */
.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
	padding: 0;
}

a,
a:hover {
	color: inherit;
}

a.actionIcon {
	width: 1rem;
	height: auto;
}

a.actionIcon .icon {
	line-height: normal;
	width: auto;
	margin: 0;
}

.userListItem .ui.grid {
	margin: 0;
}

/*=====  End of overrides  ======*/

/*==============================
=            custom            =
==============================*/

#root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
	overflow: hidden;
}

.helper.rightAligned {
	text-align: right;
}

.ui.container.mobileInnerContainer,
.sectionHeader,
.userList,
.mobileInnerContainer .content,
.mobileInnerContainer .content .section {
	display: flex;
	flex-direction: column;
}

.sectionHeader {
	flex: 0 0 auto;
}

.mobileInnerContainer .userList {
	overflow-y: auto;
}

.ui.container.mobileOuterContainer {
	width: 375px;
	height: 812px;
	box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
		0 5px 15px rgba(0, 0, 0, 0.07);
	border-radius: 1rem;
}

.ui.container.mobileInnerContainer {
	width: 375px;
	height: 812px;
	background-color: white;
	border-radius: 1rem;
	padding: 1rem 1.8rem;
}

.mobileInnerContainer .content,
.mobileInnerContainer .content .section {
	flex: 10 0 auto;
}

.mobileInnerContainer .content .btnFooter {
	display: flex;
	justify-content: space-between;
}

.mobileInnerContainer .content .btnFooter.pushRight {
	justify-content: flex-end;
}

/*=====  End of custom  ======*/

/* page transitions */
.fade-enter,
.fade-exit {
	position: absolute;
	filter: blur(5px);
	z-index: 1;
}

.fade-enter.fade-enter-active,
.fade-exit.fade-exit-active {
	filter: blur(0);
	transition: all 250ms ease-in;
}
